onlyBuiltDependencies[]=@google/genai
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=tesseract.js
